/* dispositivos padrao */
boort sizesdy {
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .numero1 {
    flex-direction: column;
  }
  .imgn1 {
    width: 50%;
    margin: 0 auto;
  }
  .texto-imagem1 {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .numero1 {
    flex-direction: column;
  }
  .imgn1 {
    width: 70%;
    margin: 0 auto;
  }
  .texto-imagem1 {
    margin-top: 30px;
  }
}
